# TODO lock dependencies !!!
pyCGM2@https://github.com/qualisys/pyCGM2/archive/compatibility-cgm2-uploader.zip
requests
pytest
pytest-cov
pytest-xdist
pyinstaller
black
tqdm
beautifulsoup4
PyYAML
xmltodict
ffmpy