# TODO lock dependencies !!!
pyCGM2@git+https://github.com/qualisys/pyCGM2.git@7b43dc6f694109065f86b3c0f53c218ec3325767
requests
pytest
pytest-cov
pytest-xdist
pyinstaller
black
tqdm
beautifulsoup4
PyYAML
xmltodict
ffmpy